<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" media="(min-width: 640px)" href="main.css">
    <link rel="stylesheet" media="(max-width: 640px)" href="main.css">
    <title>部室ホイホイ</title>
</head>

<body>
    <div id="login">
        メンバ―登録<br><br>
        <form method="POST" action="../cont/room_register.php">
            IDを入力して下さい<br>
            <input type="text" name="code"><br>
            パスワードを入力してください<br>
            <input type="password" name="pass"><br><br>
            パスワードをもう一度入力してください<br>
            <input type="password" name="pass2"><br><br>
            利用者氏名を入力して下さい<br>
            <input type="text" name="user"><br><br>
            <input type="submit" value="登録">
        </form>
    </div>
</body>